* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}



.color-body {
    background-color: rgb(211, 151, 188);
}

h1 {
    font-family: 'Dancing Script', cursive;
    color: hsla(0, 0%, 0%, 0.562);
    font-size: 50px;
    text-align: center;
    border: 4px solid black;
    border-radius: 14px;

}


nav ul li a {
    text-decoration: none;
    color: rgb(187, 118, 118);
    margin-right: 20px;
    font-size: 20px;
    padding-top: 20px;
    display: inline-block;
}

.ul-contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    padding-bottom: 10px;
}

nav ul li a:hover {
    color: whitesmoke;
    transition: all ease 0.8s;
}

.tittle {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(236, 205, 180);
    padding-top: 25px;
    font-size: 20px;

}

.imagen-perro {
    width: 250px;
    height: 250px;
}

h3 {
    font-size: 40px;
    padding-top: 40px;

}


.card {
    width: 600px;
    height: 600px;
}


.consulta {
    text-align: right;
    font-size: 20px;
    padding-top: 30px;
}

.formulario {
    text-align: right;
}

footer {
    font-size: 20px;
    text-align: center;
    color: rgb(173, 101, 101);
    padding-top: 25px;
}

.last-titulo {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/*nosotros*/
.color-body2 {
    background-color: rgb(211, 151, 188);
    ;

}

h1 {
    font-size: 40px;
    border: 4px solid rgb(236, 205, 180);
}

.parrafo-nosotros {
    font-size: 30px;
    font-weight: 200;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.nos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 25px;
}

.nos a {
    text-decoration: none;
    margin: 0 20px;
}

.foto {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.grid-container {
    display: grid;
}

.direccion {
    list-style: none;
}

.direccion li {
    margin: 15px;
}

.video {
    padding-top: 25px;
    text-align: center;
}



/*Contacto*/

.color-body1 {

    background-color: rgb(211, 151, 188);
}

.contacto {
    font-size: 45px;
    color: black;
    border: none;
}



.redes {
    padding-bottom: 20px 0;
    background-color: rgb(236, 205, 180);
}

.datos {
    padding-top: 25px;
}

.renalu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.pie-contacto {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.pie-contacto a {
    text-decoration: none;
}

.pie-contacto a:visited {
    color: rgb(236, 65, 236);
}


/*Presupuestos*/
.color-body4 {
    background-color: rgb(211, 151, 188);
}

.cartas {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.card-img-top {
    width: 150px;
    height: 220px;
}


.ult-presupuestos ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 30px;
}

.ult-presupuestos ul a {
    text-decoration: none;
}



/* redes*/

.color-body3 {
    background-color: rgb(211, 151, 188);
}



@media screen and (min-width: 360px) and (max-width: 800px) {
    .formulario {
        font-size: 10px;
        color: whitesmoke;
    }
}


@media screen and (min-width: 360px) and (max-width: 800px) {
    .datos {
        text-align: center;
    }

}


@media screen and (min-width: 360px) and (max-width: 800px) {
    .renalu {
        padding-top: 30px;
    }
}